*, *:before, *:after {
    box-sizing: inherit;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type:mandatory;

}
body{
    font-size: 16px;
    color: aliceblue;
    
    background-color:#0b0c0c;
}

.encabezado {
    display: flex;
    justify-content: center;
    height: 10rem;
    border-radius: 20px;
    background-color: rgb(28, 26, 26);

}

/** Navegacion **/
.nav {
    font-size: small;
    background-color:#d0dbdada;
    padding: 1rem 0;
    display: flex;
    justify-content:space-around;
    
    
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        text-align: center;
        justify-content:center;
        
        
    }
}

.nave {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color:rgb(255, 248, 248);
}

.nave:hover {
    
    color:rgb(211, 233, 14);
}

a{
    text-decoration: none;
}    

@media (max-width: 1100px) {
    
    .d-flex-13 {
        flex-direction: column;
    }
    .informes{
        display: flex;
        
        
        gap: 6rem;
    }
}
.informe img{
    width: 320px;
    height: 480px;
    border-radius: 30px;
}
.informe{
    text-align: justify;
    
}
.contenido h2{
    text-align: center;
}
.pie{
    display: flex;
    justify-content: center;
    background-color: #d0dbdada;
}
.Productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.ProductosI{
   padding: 3rem;
}


.ProductosI img{
    width: 320px;
    height: 480px;
    
}
.texto{
    font-size: 10px;
    color:aliceblue;
    vertical-align: relative;
    text-align: justify;
}


.btn .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    margin-bottom: 2rem;
}
.btn-enviar:hover{
    background: #e39403;
}
.formulario {
    
    margin: -5rem auto 0 auto;
    width: 55%;
    padding: 5rem;
}
.campos{
    display: flex;
    margin-bottom: 2rem;
}
.campos input{
    flex: 1;
    width:100%;
    border: 1px solid gray;
}
.campos textarea{
    height: 20rem;
    width:100%;
}
.d-flex-13 {
    display: flex;
}

.d-flex-13 .box {
    flex: 1 0 9.3%;
}